/BomberPerson/OSGiCommon/target/
/BomberPerson/OSGiLibGDX/target/
/BomberPerson/OSGiPlayer/target/
/BomberPerson/OSGiMap/target/
/BomberPerson/OSGICore/target
/BomberPerson/OSGICommonBomb/target/
/BomberPerson/OSGiBomb/target/
/BomberPerson/CommonExplosion/target/
/BomberPerson/Explosion/target/
/BomberPerson/OSGiCore/target/
/BomberPerson/OSGiCollision/target/
/BomberPerson/OSGiCommonEnemy/target/
/BomberPerson/OSGiZombie/target/
/BomberPerson/test/target/
/BomberPerson/OSGiUpgrades/target/